---
layout: default
---
<div class="container">
  <p class="muted text-center"><small><a href="http://www.placefi.lu/" title="PlaceFi">PlaceFi</a></small></p>
  <hr>

  <div class="row">

    <div class="span8 offset2 article">
      {{ content }}


      <!-- Bouton de partage linkedin -->
      <script src="//platform.linkedin.com/in.js" type="text/javascript">
      lang: fr_FR
      </script>
      <script type="IN/Share"></script>

      <!-- Bouton de partage twitter -->
      <a href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-via="xhamori" data-lang="fr">Tweeter</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

      <!-- Bouton de partage google+. -->
      <div class="g-plus" data-action="share" data-annotation="none"></div>

      <script type="text/javascript">
      window.___gcfg = {lang: 'fr'};

      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
      </script>

      <hr>
      <div class="media">
        <div class="pull-left">
          <img class="media-object" src="/assets/images/xavier_hamori.gif">
          <a style="border:none;" href="http://lu.linkedin.com/in/xavierhamori">

            <img src="http://www.linkedin.com/img/webpromo/btn_myprofile_160x33.png" width="150" height="33" border="0" alt="View Xavier Hamori's profile on LinkedIn">

          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">L'auteur</h4>
          <p class="muted"><small>Xavier Hamori est Réviseur d'entreprises et exerce au sein d'un cabinet de révision d'envergure internationale. Depuis près de 13 ans, il est spécialisé dans le secteur financier et plus particulièrement la gestion d'actifs, ainsi que dans les aspects réglementaires de la profession de l'audit et la lutte contre le blanchiment d'argent.</small></p>


        </div>
      </div>
      <hr>
      <p class="muted"><small>Pour être informé des nouveaux articles, laissez votre email ci-dessous (désinscription possible à tout moment):</small></p>

      <form id="emf-form" target="_self" enctype="multipart/form-data" method="post" action="http://www.emailmeform.com/builder/form/97ho0Hre6YO4axP7767na00cA" name="emf-form">
        <table style="text-align:left;" cellpadding="2" cellspacing="0" border="0" bgcolor="#FFFFFF">

          <tr>
            <td id="td_element_label_0" style="" align="left">
              <font face="Verdana" size="2" color="#000000"><b>Votre email:</b></font> <span style="color:red;"><small>*</small></span>
            </td>
            <td id="td_element_field_0" style="">
              <input id="element_0" name="element_0" class="validate[required,custom[email]]" value="" size="30" type="text" />

            </td>
            <td>
              <input name="element_counts" value="1" type="hidden" /> <input name="embed" value="forms" type="hidden" /><input value="Envoyer" type="submit" class="submit btn"/>
            </td>
          </tr>

        </table>
      </form>
      <div style="margin-top:18px;text-align:center">
        <script type="text/javascript">
        //<![CDATA[
        generate_css_for_emf_ad();
        //]]>
        </script>
      </div>



    </div>
  </div>
</div>





