---
layout: default
---
<div class="container">
  <p class="muted text-center"><small><a href="http://www.placefi.lu/" title="PlaceFi">PlaceFi</a></small></p>
  <hr>

  <div class="row">

    <div class="span8 offset2 article">
      {{ content }}


      <!-- Bouton de partage linkedin -->
      <script src="//platform.linkedin.com/in.js" type="text/javascript">
      lang: fr_FR
      </script>
      <script type="IN/Share"></script>

      <!-- Bouton de partage twitter -->
      <a href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-via="xhamori" data-lang="fr">Tweeter</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

      <!-- Bouton de partage google+. -->
      <div class="g-plus" data-action="share" data-annotation="none"></div>

      <script type="text/javascript">
      window.___gcfg = {lang: 'fr'};

      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
      </script>

      <hr>
      <div class="media">
      <div itemscope itemtype="http://data-vocabulary.org/Person">
        <div class="pull-left">
          <span itemprop="photo"><img class="media-object" src="/assets/images/xavier_hamori.gif"></span>
          <a style="border:none;" href="http://lu.linkedin.com/in/xavierhamori">

            <img src="http://www.linkedin.com/img/webpromo/btn_myprofile_160x33.png" width="150" height="33" border="0" alt="View Xavier Hamori's profile on LinkedIn">

          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">L'auteur</h4>
          <p class="muted"><small><span itemprop="name">Xavier Hamori</span> est <span itemprop="title">Réviseur d'entreprises</span>au Luxembourg et exerce au sein d'un cabinet de révision d'envergure internationale. Depuis près de 13 ans, il est spécialisé dans le secteur financier et plus particulièrement la gestion d'actifs, ainsi que dans les aspects réglementaires de la profession de l'audit et la lutte contre le blanchiment d'argent.</small></p>


        </div>
      </div>
      </div>
      <hr>
      <p class="muted"><small>Pour être informé des nouveaux articles, laissez votre email ci-dessous (désinscription possible à tout moment):</small></p>
      <iframe src="https://docs.google.com/forms/d/1hPL5_xLjgq7XFClbHn8iu0L_EY27xXbcmOZ7Jla8rQ4/viewform?embedded=true" width="750" height="300" frameborder="0" marginheight="0" marginwidth="0">Chargement en cours...</iframe>

    </div>
  </div>
</div>





